<h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
<p>
  <strong>Lorem ipsum</strong><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
<div class="link-list-wrapper">
  <ul class="footer-list link-list clearfix">
    <li><a class="list-item" href="#" title="Link 1">Link 1</a></li>
    <li><a class="list-item" href="#" title="Link 2">Link 2</a></li>
  </ul>
</div>

<!-- Footer -->
<section id="footer">
  <div class="inner">
    <h2 class="major">Contattaci</h2>
    <p>Scrivici un messaggio o seguici sui nostri canali social.</p>
    <form name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/{{ site.email }}" method="post">
      <div class="field">
        <label for="full-name">Nome</label>
        <input type="text" name="name" id="full-name" />
      </div>
      <div class="field">
        <label for="email-address">Email</label>
        <input type="email" name="_replyto" id="email-address" required="" />
      </div>
      <div class="field">
        <label for="message">Messaggio</label>
        <textarea name="message" id="message" rows="4" required=""></textarea>
      </div>
      <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      <ul class="actions">
        <li><input type="submit" value="Invia" /></li>
      </ul>
    </form>
    <ul class="contact">
      <li class="fa-home">
        {{ site.name }}<br />
        {{ site.street_address }}<br />
	{{ site.zip_code }} {{ site.city}}<br />
	C.f. {{ site.fiscal_code }}
      </li>
      <!--<li class="fa-phone">(000) 000-0000</li>-->
      <li class="fa-envelope"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li class="fa-twitter"><a href="{{ site.twitter }}">{{ site.twitter }}</a></li>
      <li class="fa-linkedin"><a href="{{ site.linkedin }}">{{ site.linkedin }}</a></li>
      <li class="fa-facebook"><a href="{{ site.facebook }}">{{ site.facebook }}</a></li>
      <li class="fa-instagram"><a href="{{ site.instagram }}">{{ site.instagram }}</a></li>
      <li class="fa-github"><a href="{{ site.github }}">{{ site.github }}</a></li>
    </ul>
  </div>
</section>
