{% assign sorted =  site.data.restart.restart-2020 | reverse %}
{% for webinar in sorted %}
<div class="card border rounded mb-3">
    {% if webinar.image %}
    <img class="card-img-top" src="/assets/images/restart/{{ webinar.ref }}.{{ webinar.image }}" alt="{{ webinar.title }}">
    {% endif %}
    {% if webinar.video %}
    <iframe class="embed-responsive-item" src="{{ webinar.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
    <div class="card-body">
        {% if webinar.ref %}
        <a href="/{{ webinar.lang }}/restart/2020/{{ webinar.ref }}" class="card-link"><h5 class="card-title">{{ webinar.title }}</h5></a>
        {% else %}
        <h5 class="card-title">{{ webinar.title }}</h5>
        {% endif %}

        {% if webinar.description[page.lang] != nil and webinar.description[page.lang] != "" %}
        <p>{{ webinar.description[page.lang] }}</p>
        {% endif %}

        {% if webinar.speaker != nil and webinar.speaker != "" %}
        {% if webinar.speaker-bio %}
        {% assign speaker-slug = webinar.speaker | downcase | replace: ' ', '-' %}
        <p><b>{{ site.data.t.keynote-speaker[page.lang] }}</b> <a href="/{{ webinar.lang }}/restart/speaker/{{ speaker-slug }}">{{ webinar.speaker }}</a></p>
        {% else %}
        <p><b>{{ site.data.t.keynote-speaker[page.lang] }}</b> {{ webinar.speaker }}</p>
        {% endif %}
        {% endif %}

        {% if webinar.coordinator != nil and webinar.coordinator != "" %}
        {% if webinar.coordinator-bio %}
        {% assign coordinator-slug = webinar.coordinator | downcase | replace: ' ', '-' %}
        <p><b>{{ site.data.t.coordinator[page.lang] }}</b> <a href="/{{ webinar.lang }}/{{ site.data.t.about-us-url[webinar.lang] }}/bio/{{ coordinator-slug }}">{{ webinar.coordinator }}</a></p>
        {% else %}
        <p><b>{{ site.data.t.coordinator[page.lang] }}</b> {{ webinar.coordinator }}</p>
        {% endif %}
        {% endif %}

        {% if webinar.date != nil and webinar.date != "" %}
        <p>{{ webinar.date }}</p>
        {% endif %}

        {% if webinar.url != nil and webinar.url != "" %}
        <p><a href="{{ webinar.url }}">{{ site.data.t.join[page.lang] }}</a></p>
        {% endif %}

    </div>
</div>
{% endfor %}
