{% assign sorted =  site.data.restart.restart-2021 | reverse %}
{% for webinar in sorted %}
<div class="card border rounded mb-3">
    {% if webinar.image != nil and webinar.image != "" %}
    <img class="card-img-top" src="/assets/images/restart/{{ webinar.ref }}.{{ webinar.image }}" alt="{{ webinar.title }}">
    {% endif %}
    <div class="card-body">
        {% if webinar.ref %}
        <a href="/{{ webinar.lang }}/restart/2021/{{ webinar.ref }}" class="card-link"><h5 class="card-title">{{ webinar.title }}</h5></a>
        {% else %}
        <h5 class="card-title">{{ webinar.title }}</h5>
        {% endif %}

        {% if webinar.description[page.lang] != nil and webinar.description[page.lang] != "" %}
        <p>{{ webinar.description[page.lang] }}</p>
        {% endif %}

        {% if webinar.speaker != nil and webinar.speaker != "" %}
        {% if webinar.speaker-bio %}
        {% assign speaker-slug = webinar.speaker | downcase | replace: ' ', '-' %}
        <p><b>{{ site.data.t.keynote-speaker[page.lang] }}</b> <a href="/{{ webinar.lang }}/restart/speaker/{{ speaker-slug }}">{{ webinar.speaker }}</a></p>
        {% else %}
        <p><b>{{ site.data.t.keynote-speaker[page.lang] }}</b> {{ webinar.speaker }}</p>
        {% endif %}
        {% endif %}

        {% if webinar.coordinator != nil and webinar.coordinator != "" %}
        {% if webinar.coordinator-bio %}
        {% assign coordinator-slug = webinar.coordinator | downcase | replace: ' ', '-' %}
        <p><b>{{ site.data.t.coordinator[page.lang] }}</b> <a href="/{{ webinar.lang }}/{{ site.data.t.about-us-url[webinar.lang] }}/bio/{{ coordinator-slug }}">{{ webinar.coordinator }}</a></p>
        {% else %}
        <p><b>{{ site.data.t.coordinator[page.lang] }}</b> {{ webinar.coordinator }}</p>
        {% endif %}
        {% endif %}

        {% if webinar.date != nil and webinar.date != "" %}
        <p>{{ webinar.date }}</p>
        {% endif %}

        {% if webinar.url != nil and webinar.url != "" %}
        <p><a href="{{ webinar.url }}">{{ site.data.t.join[page.lang] }}</a></p>
        {% endif %}

        {% for social-link in member.social-links %}
        <!--<li class="list-inline-item">
            <a href="{{ social-link[1] }}" title="{{ social-link[0] }}" target="_blank">
            <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ social-link[0] }}"></use></svg>
            <span class="sr-only">{{ social-link[0] }}</span>
            </a>
            </li>-->
            <a href="{{ social-link[1] }}" title="{{ social-link[0] }}" target="_blank">{{ social-link[0] }} </a>
            {% endfor %}

    </div>
</div>
{% endfor %}
